<!-- Mini-card -->
<div class="row">
    <!-- Pour chaque artiste -->
    {{#artists}}
        <div class="col s12 m12 l8 offset-l2 wow slideInLeft">
            <div class="mini-card z-depth-4 hoverable" style="background: #000 url('{{ photo }}') no-repeat right center; background-size: 55%;">
                <div id="trapezoid">
                    <h1>{{ name }}</h1>

                    <div class="text"><i>{{ description }}</i></div>
                    <a href="#/artists/{{ id }}">
                        <div class="fab waves-effect waves-circle waves-light"><span>+</span></div>
                    </a>
                </div>
            </div>
        </div>
    {{/artists}}
    <!-- /Pour chaque artiste -->
</div>
<!-- /Mini-card -->